dist: xenial
os:
  - linux
language: ruby
services:
  - docker
before_install:
  # to decrypt file previsouly created with: travis encrypt-file service-account.json -r joustava/multi-k8s
  - openssl aes-256-cbc -K $encrypted_9f3b5599b056_key -iv $encrypted_9f3b5599b056_iv -in service-account.json.enc -out service-account.json -d
  # install google cloud sdk.
  - curl https://sdk.cloud.google.com | bash > /dev/null;
  # enable sdk
  - source $HOME/google-cloud-sdk/path.bash.inc
  # install kubectl
  - gcloud components update kubectl
  # ! key file is pre-encrypted and pre-uploaded to Travis
  - gcloud auth activate-service-account --key-file service-account.json
  # project settings
  - gcloud config set project multi-k8s-276119
  # compute zone
  - gcloud config set compute/zone europe-west1-b
  # cluster
  - gcloud container clusters get-credentials multi-cluster
  # login to docker, set credentials on travis dashboard
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  - docker build -t joustava/react-test -f ./client/Dockerfile.dev
script:
  - docker run -e CI=true joustava/react-test npm run test -- --coverage
